.row {
  padding-right: 0px;
  padding-left: 0px;
  font-size: 0.8rem;
  padding-top: 5px;
}
.col {
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.highlight-card {
  //   background-color: #b7992b;
  background-color: #dcc056;
}

.font-secondary {
  color: #6f6f6f;
}
